body{
    width: 100vw;
    height:100vh;
}
#root{
    padding: 70px;
}
h2{
    color: rgb(227, 47, 47);
}
.header{
    margin-bottom: 60px;
    text-align: center;
    background-color: gray;
}
.card-img{
    width:40%;
}
.card{
    margin-bottom: 60px;
    margin-right: 60px;
    display:inline-block;
    width:21%;  
}
.cart{
    float: right;
    color: rgb(227, 47, 47);
}
.fa-shopping-cart{
    float: right;
    background-color: rgb(227, 47, 47);
}




