body{
    width: 100vw;
    height:100vh;
}
#root{
    padding: 70px;
}
h2{
    color: rgb(227, 47, 47);
}
.header{
    margin-bottom: 60px;
    text-align: center;
    background-color: gray;
}

.card-img{
    width:40%; 
}
.card{
    margin-bottom: 60px;
    margin-right: 60px;
    display:inline-block;
    width:21%;  
}
.card-body{
    float: right;
}
.backbutton{
    margin-bottom: 40px;
}
.longdescription{
    float: left;
    margin-top: 60px;
}
.cart{
    color: rgb(227, 47, 47);
}
.pobutton{
    float: right;
}





