body{
    width: 100vw;
    height:100vh;
}
#root{
    padding: 70px;
}
h2{
    color: brown;
}
.header{
    margin-bottom: 4%;
    text-align: center;
    background-color: gray;
}
.card-img{
    width:40%;
}
.card{
    margin-bottom: 4%;
    margin-right: 4%;
    display:inline-block;
    width:21%;  
}



